.a{
    display:flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}


.a1{
    font-size:13;
    width:30%;
    display:flex;
justify-content: center;
}
.a2{
    width:30%;
    display: flex;
justify-content: center;

}

.a3{
    width:25%;
    color: rgba(0, 0, 0, 0.6);
}
.a4{
    width:30%;
}
.a5{
    width:25%;
    color: rgba(0, 0, 0, 0.6);
}

